.settings__setting {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.settings__setting i {
    margin-right: 10px;
    opacity: 0.7;
    width: 25px;
}

.settings__setting:last-child .settings__setting-column:last-child {
    opacity: 0.6;
}